[init] 
	defaultBranch=master
[core]
	editor = nvim
[alias]
	st = status
	br = branch
	co = checkout
	cm = commit
	cmm = "commit -m"
	r = reset
	rsh = "reset --hard"
	rst = "restore --staged"
    undo = "reset HEAD~1"
[include]
	path = ~/.gitconfig-local
