[alias]
	st = status
	br = branch
	co = checkout
	cm = commit
	cmm = "commit -m"
	r = reset
	rsh = "reset --hard"
	rst = "restore --staged"
[pull]
	rebase = true
[include]
	path = ~/.gitconfig-local
[difftool "sourcetree"]
	cmd = /Applications/kdiff3.app/Contents/MacOS/kdiff3 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
